{% extends 'base.html' %}
{% block menu %}
    <li><a href="{% url 'webapp:tracker_add' %}">Добавить </a></li>
    <li><a href="{% url 'webapp:status_view' %}">Статус</a></li>
    <li><a href="{% url 'webapp:type_view' %}">Тип</a></li>
    <li><a href="{% url 'webapp:project_view' %}">Проект</a></li>


{% endblock %}
{% block content %}
      <h1 class="mt-3">Задача</h1>
        {% include 'partial/simple_search.html' %}
        {% if is_paginated  %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <hr/>
     <div class="row">
         {% for tracker in trackers %}
             <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                 <div class="card">
                     <div class="card-body">
                         <a href="{% url 'webapp:tracker_view' tracker.pk %}"><h2 class="card-text card-link">{{ tracker.summary }}</h2></a>
                         <p class="card-text"><b>Description: </b>{{ tracker.description }}</p>
                         <hr>
                         <div class="board">
                            <a href="{% url 'webapp:tracker_update' tracker.pk %}"><i class="fas fa-edit"></i></a>
                            <a href="{% url "webapp:tracker_delete" tracker.pk %}"><i class="fas fa-trash-alt"></i></a>

                         </div>
                     </div>
                 </div>
             </div>
         {% endfor %}
     </div>
{% endblock %}